<!DOCTYPE html>
<html lang="en">
  <%- include(`${partials}/head`); -%>

  <body>
    <%- include(`${partials}/header_main`); -%>
    <div class="container body">
      <div class="loader--1"></div>
      <div class="board">
        <table id="bsc_table" class="table table-striped table-hover"></table>
      </div>
      <%- include(`${partials}/disclaimer`); -%>
    </div>
    <%- include(`${partials}/scripts`, {scriptname: 'bsc'}); -%>
  </body>
</html>
